#message-index {
  width: 80%;
  height: 80%;
  background-color: white;
  color: black;
  border: 1px solid indigo;
  border-radius: 4px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
}

.message {
  padding: 20px 40px;
  border-bottom: 1px solid lightgray;
}

.message-body {
  text-align: left;
}