#sidebar {
  display: block;
  float: left;
  height: 100vh;
  width: 20%;
  background-color: mediumpurple;
}

#banner {
  color: white;
  font-size: 48px;
  font-family: sans-serif;
  margin-top: 40px;
}